.cmp-page-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	height: 100%;
}
.cmp-page-title > h1 {
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	margin: 0;
}
.cmp-page-title > h2 {
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	margin: 10px 0 10px;
}
.cmp-page-rigth {
	display: flex;
	flex-direction: column;
}
.cmp-page-host {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 0 15px;
}
.cmp-page-host > p {
	margin-right: 10px;
	width: 70px;
	text-align: end;
}
.cmp-page-host > .cmp-pics-host {
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 64px;
	width: 64px;
}
.cmp-tag-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.cmp-tag {
	background-color: var(--primary);
	color: white;
	margin: 5px 5px 0 0;
	padding: 5px 40px 5px;
	border-radius: 10px;
	font-size: 20px;
}
.fa-star {
	color: #e3e3e3;
	font-size: x-large;
	margin: 0 5px 0;
}
.active {
	color: var(--primary);
}
.cmp-page-card-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.cmp-page-card {
	width: calc(50% - 10px);
}
.cmp-page-card-container > .cmp-page-card > div > .cmp-AboutCard-btn {
	padding: 13px 20px 13px;
	border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.cmp-page-card-container {
		flex-direction: column;
	}
	.cmp-page-card {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.cmp-page-head {
		display: flex;
		flex-direction: column;
		align-items: normal;
	}
	.cmp-page-title > h1 {
		font-size: 18px;
	}
	.cmp-page-title > h2 {
		font-size: 14px;
	}
	.cmp-tag {
		font-size: 10px;
		padding: 5px 20px 5px;
	}
	.cmp-page-rigth {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 10px 0 10px;
	}
	.fa-star {
		font-size: medium;
		margin: 0 3px 0;
	}
	.cmp-page-card-container {
		flex-direction: column;
	}
	.cmp-page-card {
		width: 100%;
	}
	.cmp-page-host > p {
		font-size: 12px;
	}
	.cmp-page-card-container > .cmp-page-card > div > .cmp-AboutCard-btn {
		padding: 5px 11px 5px;
	}
}
