@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
	--primary: #ff6060;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: var(--primary);
	font-weight: 500;
}
#root {
	display: grid;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}
.cmp-body {
	/* min-height: 70vh; */
	padding-bottom: 50px;
	margin: 0 50px 0;
}

@media screen and (max-width: 767px) {
	.cmp-body {
		margin: 0 20px 0;
	}
}
