.cmp-error-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 100px 0 0;
}
.cmp-error-body > .cmp-error-title {
	margin: 0;
	font-size: 288px;
	font-weight: 700;
	text-shadow: 1px 1px #582020;
}
.cmp-error-body > .cmp-error-subtitle {
	margin: 60px 0 60px;
	font-weight: 700;
}
.cmp-error-body > a {
	margin: 100px 0 150px;
	color: var(--primary);
}
@media screen and (max-width: 767px) {
	.cmp-error-body > .cmp-error-title {
		font-size: calc(288px / 2);
	}
	.cmp-error-body > .cmp-error-subtitle {
		margin: 30px 0 40px;
	}
	.cmp-error-body > a {
		margin: 25px 0 30px;
		color: var(--primary);
	}
}
